# This is Git's per-user configuration file.
[user]
	# Please adapt and uncomment the following lines:
	name = Craig Yang
	email = nikeasyanzi@gmail.com
# [safe] directory removed to avoid machine-specific paths
